*{
    padding: 0;
    margin: 0;
}

/* Global */
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
   
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1{
    font-size: 40px;
}

.main{
    height: 100vh;
}
/* Global end */



.hero__section{
    background: black;
    padding: 70px;
    height: 100;
}

.hero__content{
    height: 100%;
    display: flex;
    align-items: center;
}

.hero__title{
    color: white;
}

.emp__container{
    padding: 50px 70px;
    background: whitesmoke;
}

.emp__container h2{
    margin-bottom: 20px;
}

.table__grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.table__sales{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.table__container{
    padding: 40px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table__container__sales{
    padding: 40px;
    margin: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#car_table{
    height: fit-content;
    margin-left: auto;
    margin-right: 20px;
}

#emp_table{
    height: fit-content;
    margin-right: auto;
    margin-left: 20px;
}

#sales_table{
    height: fit-content;
    margin-right: auto;
    margin-left: auto;
}

table{
    margin-top: 10px;
    text-align: center;
}

.top-row{
    background-color: black;
    color: white;
}

td,th{
    width: 200px;
    padding: 10px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Footer */
.footer__div{
    background-color: whitesmoke;
    color: #1d1d1d;
    height: 100px;
    position: absolute;
    bottom: 0;
}

.footer__container{
    display: flex;
    justify-content: center;

}




